:root {
  --color-bg: #F0DEF0;
  --color-text-main: #629263;
  --color-primary: #629263;
  --wrapper-height: 87vh;
  --image-max-width: 100px;
  --image-max-length: 100px;
  --image-margin: 3rem;
  --font-family: Optima, sans-serif;
  --font-family-header: "HK Grotesk";
}

/* main formatting */
body {
  font-family: Optima, sans-serif;
  background-color: #f3ded3;
  color: #2c3e68;

  padding-top: 50px;
}

main {
  margin-left: 100pt;
  padding: 15pt;
}

/* nav bar styling */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 150px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  background-color: #b6d2ca;
}

nav a {
  display: inline-block;
  text-decoration: none;
  padding: 5px 15px;
  color: #2c3e68;
  font-size: 17px;
  font-weight: 800;
  margin-bottom: 20px;
  text-transform: uppercase;
}

a:hover {
  color: #9d5c68;
}

.logo {
  width: 100px;
  filter: none;
  padding: 20px;
}

/* text and headers */
h1 {
  font-size:50px;
}

h2 {
  font-size: 30px;;
}

/* intro: container holding #text and #photo */
.intro {
  display: flex;
  margin: 15pt;
  padding-bottom: 150px;
}

#short {
  font-size: 25px;
}

#text {
  margin: 50pt;
  margin-top: 120pt;
  font-size: 15px;
  float: left;
}

#photo {
  float: right;
}

img {
  border-radius: 15%;
  width: 800px;
  filter: drop-shadow(15px 15px 4px #d8b0a2);
}

/* projects*/
.projects {
  display: flex;
  margin: auto;
}

#vertTitle {
  font-size: 25px;
  font-weight: 800;
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-transform: uppercase;
  padding: 45px;
  padding-bottom: 200px;
}

.projectPic {
  width: 300px;
  height: 300px;
  filter: drop-shadow(10px 10px 4px #d8b0a2);
  padding: 25px;
}


#contactInfo {
  font-size: 20px;
  font-weight: 600;
  padding-left: 200px;
  padding-right: 200px;
}

#noBold {
  font-weight: 400;
}

/* bio page */
#bioMain {
  margin-left: 170px;
  margin-top: 100px;
}

#bioTitle {
  font-size: 40px;
}

#bioPic {
  margin-left: 80px;
  width: 500px;
  height: 500px;
}

p {
  font-size: 20px;
  padding-top: 20px;
  padding-right: 20px;
}

button {
  background-color: #b6d2ca;
  border-radius: 8pt;
  border: none;
  color: #2c3e68;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  margin-top: 20px;
  font-family: Optima, sans-serif;
}

/* project page */
#projectMain {
  margin-left: 170px;
}

.gifHolder {
  display: flex;
  margin: auto;
  margin-left: 100px;
}

.gifs {
  width: 300px;
  height: 300px; 
  padding: 30px;
}
