:root {
  --color-bg: #F0DEF0;
  --color-text-main: #629263;
  --color-primary: #629263;
  --wrapper-height: 87vh;
  --image-max-width: 100px;
  --image-max-length: 100px;
  --image-margin: 3rem;
  --font-family: Optima, sans-serif;
  --font-family-header: "HK Grotesk";
}

/* main formatting */
body {
  font-family: Optima, sans-serif;
  background-color: #f3ded3;
  color: #2c3e68;

  padding-top: 50px;
}

main {
  margin-left: 100pt;
  padding: 15pt;
}

/* nav bar styling */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 150px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  background-color: #b6d2ca;
}

nav a {
  display: inline-block;
  text-decoration: none;
  padding: 5px 15px;
  color: #2c3e68;
  font-size: 17px;
  font-weight: 800;
  margin-bottom: 20px;
  text-transform: uppercase;
}

a:hover {
  color: #9d5c68;
}

.logo {
  width: 100px;
  filter: none;
  padding: 20px;
}

/* text and headers */
h1 {
  font-size:50px;
}

h2 {
  font-size: 25px;;
}

/* intro: container holding #text and #photo */
.intro {
  display: flex;
  margin: 15pt;
}

#text {
  margin: 50pt;
  margin-top: 120pt;
  float: left;
}

#photo {
  float: right;
}

img {
  border-radius: 15%;
  width: 800px;
  filter: drop-shadow(15px 15px 4px #d8b0a2);
}

/* projects*/



button {
  background-color: #629263;
  border-radius: 8pt;
  border: none;
  color: lightpink;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: Optima, sans-serif;
  font-weight: bold;
  font-size: 16px;
}


